.Aptitude_Body {
     margin-top: -2px;
     min-height: 500px;
     background-color: #E2E9FF;
     display: flex;
}

.content {
     margin: -10px 10px 10px 100px;
     padding: 18px;
     h3{
      margin-left: 10px;
     }
}

/* below is same as <a> tag */
.content a {
     margin: 0px 0px 14px 10px;
     padding: 2px;
     color: black;
     display: grid;
}
.link{
   display: flex;
}

