.Aptitude_Body {
     margin-top: -2px;
     min-height: 500px;
     background-color: #E2E9FF;
     display: flex;
     justify-content: space-between;
}

.content {
     margin: -10px 10px 10px 50px;
     padding: 8px;
}

.link{
     margin-bottom: 10px;
}
.link a{
     color: #08218f;
     text-decoration: none;
     margin-bottom: 10px;
 }
 
 .link a:hover {    
     color:#0d5666; 
     text-decoration:none; 
     cursor:pointer;  
     font-weight:bold;
     transition-delay: 20ms;
 }
 marquee{
     margin: 10px;
     font-size: larger;
     color:red;
     min-width:1100px;
 }
